<!DOCTYPE html>
<html>
<head lang="en">
  {% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/static/images/skrillex.jpg">
  <link rel="stylesheet" href="/static/css/stylesheet.css">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <title>{% block title %}{% endblock %}</title>
  {% endblock head %}
</head>
<body style="display: flex; flex-direction: column;">
  {% block body %}
  {% block header %}
  <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a href="." class="nav-link{{home}}" aria-current="page">Home</a>
      </li>
      <li class="nav-item">
        <a href="notes" class="nav-link{{notes}}">Notes</a>
      </li>
    </ul>
  </header>
  {% endblock header %}

  <main>
    {% block main %}{% endblock %}
  </main>

  {% block footer %}
  <footer class="footer mt-auto py-3 bg-light">
    <div class="container" style="text-align: center">
      <span class="text-muted">This is a footer</span>
    </div>
  </footer>
  {% endblock footer %}
  {% endblock body %}
</body>
</html>
